adf-ucb-examenFinal-157865/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-examenFinal-157865"
		},
		"ls_sa_apple_sales_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_sa_apple_sales\""
		},
		"ls_sql_dw_apple_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ls_sql_dw_apple\""
		},
		"ls_sql_dw_apple_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisinfo12152.database.windows.net"
		},
		"ls_sql_dw_apple_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "bronze-examenFinal"
		},
		"ls_sql_dw_apple_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aleloayza"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "categoria",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_category",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"category": {},
									"categoria": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "categoria",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"products": {},
									"productos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "venta",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "producto",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sales": {},
									"ventas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "tienda",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_stores",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"stores": {},
									"tiendas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "garantia",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "tienda",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_warranty",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"warranty": {},
									"garantia": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_category')]",
				"[concat(variables('factoryId'), '/dataflows/df_products')]",
				"[concat(variables('factoryId'), '/dataflows/df_sales')]",
				"[concat(variables('factoryId'), '/dataflows/df_stores')]",
				"[concat(variables('factoryId'), '/dataflows/df_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_category')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "categoria",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_category",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"category": {},
									"categoria": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dimension producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dimension dia",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dimension dia",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_date",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dimension venta",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dimension producto",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dimension tienda",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dimension venta",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_store",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "GOLD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_products')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_date')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_sales')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gold_dim_date')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_date",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "GOLD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_date')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gold_dim_products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pipeline_gold_dim_products",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "GOLD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gold_dim_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "GOLD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_gold_dim_store')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_store",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "GOLD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "productos",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"products": {},
									"productos": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sales",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sales": {},
									"ventas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "categoria",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_category",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"categoria": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "categoria",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ventas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "producto",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "tienda",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ventas",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_stores",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "garantia",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "tienda",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_warranty",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_category')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_products')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sales')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_stores')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver_category')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_category",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"categoria": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver_products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_products",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver_sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sales",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver_stores')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_stores",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_silver_warranty')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_warranty",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SILVER"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_stores')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "stores",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_stores",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"stores": {},
									"tiendas": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_warranty')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "warranty",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_warranty",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"warranty": {},
									"garantia": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "BRONZE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_category_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple_sales",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "category.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "category_id",
						"type": "String"
					},
					{
						"name": "category_name",
						"type": "String"
					},
					{
						"name": "extra_note",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sale_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "GOLD",
					"table": "DIM_DATE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "product_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product_id",
						"type": "nvarchar"
					},
					{
						"name": "product_name",
						"type": "nvarchar"
					},
					{
						"name": "category_id",
						"type": "nvarchar"
					},
					{
						"name": "price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "launch_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "GOLD",
					"table": "DIM_PRODUCTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sale_fact_id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "sale_id",
						"type": "nvarchar"
					},
					{
						"name": "quantity_sold",
						"type": "int",
						"precision": 10
					},
					{
						"name": "claim_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "GOLD",
					"table": "DIM_SALES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_store')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "store_key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "store_id",
						"type": "nvarchar"
					},
					{
						"name": "store_name",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "GOLD",
					"table": "DIM_STORES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_products_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple_sales",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "products.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Product_ID",
						"type": "String"
					},
					{
						"name": "Product_Name",
						"type": "String"
					},
					{
						"name": "Category_ID",
						"type": "String"
					},
					{
						"name": "Launch_Date",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "notes",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sales_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple_sales",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sales.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "sale_date",
						"type": "String"
					},
					{
						"name": "store_id",
						"type": "String"
					},
					{
						"name": "product_id",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "category_id",
						"type": "varchar"
					},
					{
						"name": "category_name",
						"type": "varchar"
					},
					{
						"name": "extra_note",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "CATEGORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "product_id",
						"type": "nvarchar"
					},
					{
						"name": "product_name",
						"type": "nvarchar"
					},
					{
						"name": "category_id",
						"type": "nvarchar"
					},
					{
						"name": "launch_date",
						"type": "date"
					},
					{
						"name": "price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "notes",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "PRODUCTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sale_id",
						"type": "nvarchar"
					},
					{
						"name": "sale_date",
						"type": "date"
					},
					{
						"name": "store_id",
						"type": "nvarchar"
					},
					{
						"name": "product_id",
						"type": "nvarchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "SALES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "store_id",
						"type": "nvarchar"
					},
					{
						"name": "store_name",
						"type": "nvarchar"
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "opened",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "STORES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_warranty')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "claim_id",
						"type": "nvarchar"
					},
					{
						"name": "claim_date",
						"type": "date"
					},
					{
						"name": "sale_id",
						"type": "nvarchar"
					},
					{
						"name": "repair_status",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "WARRANTY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_category')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "category_id",
						"type": "varchar"
					},
					{
						"name": "category_name",
						"type": "varchar"
					},
					{
						"name": "extra_note",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "BRONZE",
					"table": "CATEGORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_ID",
						"type": "varchar"
					},
					{
						"name": "Product_Name",
						"type": "varchar"
					},
					{
						"name": "Category_ID",
						"type": "varchar"
					},
					{
						"name": "Launch_Date",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "varchar"
					},
					{
						"name": "notes",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "BRONZE",
					"table": "PRODUCTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "sale_id",
						"type": "varchar"
					},
					{
						"name": "sale_date",
						"type": "varchar"
					},
					{
						"name": "store_id",
						"type": "varchar"
					},
					{
						"name": "product_id",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "BRONZE",
					"table": "SALES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Store_ID",
						"type": "varchar"
					},
					{
						"name": "Store_Name",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "opened",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "BRONZE",
					"table": "STORES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_warranty')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw_apple",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "claim_id",
						"type": "varchar"
					},
					{
						"name": "claim_date",
						"type": "varchar"
					},
					{
						"name": "sale_id",
						"type": "varchar"
					},
					{
						"name": "repair_status",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "BRONZE",
					"table": "WARRANTY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw_apple')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stores_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple_sales",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "stores.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Store_ID",
						"type": "String"
					},
					{
						"name": "Store_Name",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "opened",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_warranty_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sa_apple_sales",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "warranty.csv",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "claim_id",
						"type": "String"
					},
					{
						"name": "claim_date",
						"type": "String"
					},
					{
						"name": "sale_id",
						"type": "String"
					},
					{
						"name": "repair_status",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sa_apple_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sa_apple_sales')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_sa_apple_sales_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_dw_apple')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_dw_apple_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_dw_apple_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_dw_apple_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_dw_apple_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_category')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_category_csv",
								"type": "DatasetReference"
							},
							"name": "category"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_category",
								"type": "DatasetReference"
							},
							"name": "categoria"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> category",
						"category sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          category_id,",
						"          category_name,",
						"          extra_note",
						"     )) ~> categoria"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_category_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_date')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_sales",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_date",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          sale_id as string,",
						"          sale_date as date,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          date_key as integer,",
						"          sale_date as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          sale_date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_date')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_products",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_product",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          product_id as string,",
						"          product_name as string,",
						"          category_id as string,",
						"          launch_date as date,",
						"          price as decimal(10,2),",
						"          notes as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          product_key as integer,",
						"          product_id as string,",
						"          product_name as string,",
						"          category_id as string,",
						"          price as decimal(10,2),",
						"          launch_date as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          product_id,",
						"          product_name,",
						"          category_id,",
						"          price,",
						"          launch_date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_product')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_sales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_sales",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_sales",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          sale_id as string,",
						"          sale_date as date,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          sale_fact_id as long,",
						"          sale_id as string,",
						"          quantity_sold as integer,",
						"          claim_date as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          sale_id,",
						"          quantity_sold = quantity,",
						"          claim_date = sale_date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_store')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Gold"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_stores",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_store",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          store_id as string,",
						"          store_name as string,",
						"          city as string,",
						"          country as string,",
						"          opened as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          store_key as integer,",
						"          store_id as string,",
						"          store_name as string,",
						"          city as string,",
						"          country as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          store_id,",
						"          store_name,",
						"          city,",
						"          country",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_store')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_products_csv",
								"type": "DatasetReference"
							},
							"name": "products"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_products",
								"type": "DatasetReference"
							},
							"name": "productos"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Product_ID as string,",
						"          Product_Name as string,",
						"          Category_ID as string,",
						"          Launch_Date as string,",
						"          Price as string,",
						"          notes as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> products",
						"products sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Product_ID as string,",
						"          Product_Name as string,",
						"          Category_ID as string,",
						"          Launch_Date as string,",
						"          Price as string,",
						"          notes as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> productos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_products_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_sales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sales_csv",
								"type": "DatasetReference"
							},
							"name": "sales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_sales",
								"type": "DatasetReference"
							},
							"name": "ventas"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          sale_id as string,",
						"          sale_date as string,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sales",
						"sales sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          sale_id as string,",
						"          sale_date as string,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> ventas"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sales_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_category')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_category",
								"type": "DatasetReference"
							},
							"name": "categoria"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_category",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> categoria",
						"categoria sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          category_id as string,",
						"          category_name as string,",
						"          extra_note as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          category_id,",
						"          category_name,",
						"          extra_note",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_category')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_category')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_products')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_products",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_products",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Product_ID as string,",
						"          Product_Name as string,",
						"          Category_ID as string,",
						"          Launch_Date as string,",
						"          Price as string,",
						"          notes as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 select(mapColumn(",
						"          Product_ID,",
						"          Product_Name,",
						"          Category_ID,",
						"          Launch_Date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(Launch_Date = trim(Launch_Date)) ~> derivedColumn1",
						"derivedColumn1 cast(output(",
						"          Launch_Date as date 'yyyy-MM-dd'",
						"     ),",
						"     errors: true) ~> cast1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          product_id as string,",
						"          product_name as string,",
						"          category_id as string,",
						"          launch_date as date,",
						"          price as decimal(10,2),",
						"          notes as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          product_id = Product_ID,",
						"          product_name = Product_Name,",
						"          category_id = Category_ID,",
						"          launch_date = Launch_Date",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_stores')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_stores",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_stores",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "cast1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Store_ID as string,",
						"          Store_Name as string,",
						"          City as string,",
						"          Country as string,",
						"          opened as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"derivedColumn1 cast(output(",
						"          opened as date 'yyyy'",
						"     ),",
						"     errors: true) ~> cast1",
						"source1 derive(opened = trim(opened)) ~> derivedColumn1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          store_id as string,",
						"          store_name as string,",
						"          city as string,",
						"          country as string,",
						"          opened as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          store_id = Store_ID,",
						"          store_name = Store_Name,",
						"          city = City,",
						"          country = Country,",
						"          opened",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_warranty')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_warranty",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_warranty",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          claim_id as string,",
						"          claim_date as string,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 derive(claim_date = trim(claim_date)) ~> derivedColumn1",
						"derivedColumn1 cast(output(",
						"          claim_date as date 'yyyy-MM-dd'",
						"     ),",
						"     errors: true) ~> cast1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          claim_id as string,",
						"          claim_date as date,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          claim_id,",
						"          claim_date,",
						"          sale_id,",
						"          repair_status",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_warranty')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_stores')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_stores_csv",
								"type": "DatasetReference"
							},
							"name": "stores"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_stores",
								"type": "DatasetReference"
							},
							"name": "tiendas"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Store_ID as string,",
						"          Store_Name as string,",
						"          City as string,",
						"          Country as string,",
						"          opened as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> stores",
						"stores sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Store_ID as string,",
						"          Store_Name as string,",
						"          City as string,",
						"          Country as string,",
						"          opened as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Store_ID,",
						"          Store_Name,",
						"          City,",
						"          Country,",
						"          opened",
						"     )) ~> tiendas"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stores_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_warranty')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Bronze"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_warranty_csv",
								"type": "DatasetReference"
							},
							"name": "warranty"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_warranty",
								"type": "DatasetReference"
							},
							"name": "garantia"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          claim_id as string,",
						"          claim_date as string,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> warranty",
						"warranty sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          claim_id as string,",
						"          claim_date as string,",
						"          sale_id as string,",
						"          repair_status as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> garantia"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_warranty_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_warranty')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sales')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_sql_sales",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_silver_sales",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          sale_id as string,",
						"          sale_date as string,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 cast(output(",
						"          sale_date as date 'dd-MM-yyyy'",
						"     ),",
						"     errors: true) ~> cast1",
						"cast1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          sale_id as string,",
						"          sale_date as date,",
						"          store_id as string,",
						"          product_id as string,",
						"          quantity as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_sales')]",
				"[concat(variables('factoryId'), '/datasets/ds_silver_sales')]"
			]
		}
	]
}